* {
    padding: 0px;
    margin: 0px;
}

/* header related styles */
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    /* width: 1350px;
    height: 80px; */
    padding-top: 30px;
    height: 80px;
    text-align: center;

}

.logo {

    display: flex;
    justify-content: center;
    align-items: center;

}

.logo-heading {
    padding-left: 10px;
}

.logo img {
    width: 80px;
    height: 40px;
}

.g {
    color: #FF42A5;
    font-size: 35px;
    font-weight: 700;
}

.amer {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.nav {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 40px;
    align-items: center;
}



.nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav li {
    list-style: none;
    margin-right: 15px;
}

.nav a {

    text-decoration: none;
}

.followBtn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
    border: none;
}

/* banner related styles */
.banner {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.banner-content {
    padding-top: 80px;
}

.banImg {
    margin-top: 40px;
    width: 600px;
    height: 500px;
}

.commonHeading {

    font-size: 30px;
    font-weight: 600;

}

.goatHeading {

    padding-bottom: 10px;
    font-family: Work Sans;
    font-size: 60px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bannerP {
    padding: 6px;
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
}

.banner-button {
    display: inline-flex;

    align-items: flex-start;
    padding-top: 20px;
    gap: 10px;
}

.signBtn {
    padding: 10px 22px;
    border: none;
    border-radius: 48px;
    background: var(--Linear,
            linear-gradient(90deg, #FF42A5 13.13%,
                #FF42A5 87.94%));
}

.rogueBtn {
    padding: 10px 22px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
}

/* funnyvideos related styles */
.funny-videos-container {
    width: 80%;

    text-align: center;
}

.funnyVideo-content {

    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.colorHeading {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-light-gray {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 166.667% */
}

.funny-video-img-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.funny-video-img {
    position: relative;

}


.funny-video-img .overlay {
    position: absolute;
    top: 0;
    background-color: #0b022362;
    height: 100%;
    width: 100%;
    border-radius: 5%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}

.overlay i,
.overlay p {
    font-size: 3rem;
    color: white;
}

.funny-video-img:hover .overlay {
    transition: all 0.4s;
    opacity: 1;
}

.game-img-card p {
    font-size: 1.2rem;
    margin-top: 1rem;

}



/* play instant related styles */
.play-instant {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 140px;
    gap: 8rem;
}

.play-instant-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-img-container {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-img-container img:first-child {
    width: 100%;


}

* {
    margin: 0;
    padding: 0;
}

.play-img-container img:last-child {
    position: absolute;
    top: 60%;
    left: -20%;
    border-radius: 8px;
    border: 10px solid #FFF;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
}

* {
    margin: 0;
    padding: 0;
}

/* different games styles */
.games-container {
    display: flex;
    justify-content: center;
    padding: 4rem;
}

.games {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    flex-wrap: wrap;
}

.games button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border-radius: 50%;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    background-color: white;
    border: 1px solid lightcoral;
    transition: all 0.4s;
}

.games button:hover {
    cursor: pointer;
}


/* footer styles */
footer {
    background: #0B0223;
    color: white;
    width: 1350px;
    height: 280px;
    padding-top: 50px;
    text-align: center;
}

.amerFooter {
    color: white;
    font-family: Work Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.story-links li,
.info-links li {
    display: inline-flex;
    list-style: none;

    font-size: 15px;
    align-items: flex-start;
    gap: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.story-links li a,
.social-links a,
.info-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;

    margin: 20px 20px 10px 20px;
}

.footerSpan {
    color: white;
    font-size: 12px;
}

/* media query */
/* mobile devices */
@media screen and (max-width:576px) {

    .nav,
    .nav>ul,

    .play-instant {
        flex-direction: column;

    }



    .banner {
        flex-direction: column-reverse;
    }

    .funny-video-img-container {
        grid-template-columns: repeat(1, 1fr);
    }


    .story-links,
    .social-links .info-links {
        display: grid;
        grid-template-columns: repeat(2, 300px);
    }

}

/* tablet devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    .nav,
    .nav>ul,

    .play-instant {
        flex-direction: column;

    }


    .banner {
        flex-direction: column;
    }

    .funny-video-img-container {
        grid-template-columns: repeat(2, 1fr);
    }
}