* {
    padding: 0px;
    margin: 0px;
}

/* header related styles */
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width: 1350px;
    height: 80px;
    padding-top: 30px;

}

.logo {

    display: flex;
    justify-content: center;
    align-items: center;

}

.logo-heading {
    padding-left: 10px;
}

.logo img {
    width: 80px;
    height: 40px;
}

.g {
    color: #FF42A5;
    font-size: 35px;
    font-weight: 700;
}

.amer {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.nav {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 40px;
    align-items: center;
}



.nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav li {
    list-style: none;
    margin-right: 15px;
}

.nav a {

    text-decoration: none;
}

.followBtn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
    border: none;
}

/* banner related styles */
.banner {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.banner-content {
    padding-top: 80px;
}

.banImg {
    margin-top: 40px;
    width: 600px;
    height: 500px;
}

.commonHeading {

    font-size: 30px;
    font-weight: 600;

}

.goatHeading {

    padding-bottom: 10px;
    font-family: Work Sans;
    font-size: 60px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bannerP {
    padding: 6px;
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
}

.banner-button {
    display: inline-flex;

    align-items: flex-start;
    padding-top: 20px;
    gap: 10px;
}

.signBtn {
    padding: 10px 22px;
    border: none;
    border-radius: 48px;
    background: var(--Linear,
            linear-gradient(90deg, #FF42A5 13.13%,
                #FF42A5 87.94%));
}

.rogueBtn {
    padding: 10px 22px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
}

/* funnyvideos related styles */
.funnyVideo-content {

    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.colorHeading {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-light-gray {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.funnyvideos-img-container {
    display: flex;
}

.funnyvideos-img {
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 320px;
    height: 370px;
    margin: 8px;

}

.img-description {
    padding-left: 10px;
    margin-left: 10px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 150% */
}

/* media query */
/* mobile devices */
@media screen and (max-width:576px) {

    .nav,
    .nav>ul,
    .funnyvideos-img-container {
        flex-direction: column;
        margin: 15px;
        padding-right: 450px;
        margin-bottom: 60px;
    }

    .logo {
        padding-right: 500px;
    }

    .banner {
        flex-direction: column-reverse;
    }


}

/* tablet devices */
@media screen and (min-width: 576px) and (min-width:960px) {

    .nav,
    .nav>ul,
    .funnyvideos-img-container {
        flex-direction: column;
        margin: 15px;
        padding-right: 450px;
        margin-bottom: 60px;
    }

    .logo {
        padding-right: 500px;
    }

    .banner {
        flex-direction: column-reverse;

    }
}